@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat Alternates', sans-serif;
}
.fa-h:before {
    font-weight: bold;
    content: 'H';
}
.fa-eq:before {
    font-weight: bold;
    content: 'EQ';
}
/*Pagina principal*/
#cuerpoprincipal {
	background: url(https://content.wepik.com/statics/206737646/preview-page0.jpg);
	background-repeat: no-repeat;
	background-size: 4000vw 2000vh;
}
/* Menu lateral */
.menulat:hover,nav.menulat.expanded {
width:250px;
overflow:visible;
}
.menulat {
background: black;
border-right:1px solid #e5e5e5;
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}
.menulat>ul {
margin:7px 0;
}
.menulat li {
position:relative;
display:block;
width:250px;
}
.menulat li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;  
}
.menulat .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}
.menulat .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.no-touch .scrollable.hover {
overflow-y:hidden;
}
.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}
a:hover,a:focus {
text-decoration:none;
}
nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}
nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.menulat li:hover>a,nav.menulat li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#000000;
}

/*formulario registro*/

#formularioreg{
    width:1000px;
    padding:20px;
    border-radius: 10px;
    margin:auto;
    background-color: #ccc;
}

form label{
    width:80px;
    font-weight: bold;
    display:inline-block;
}

form input[type="text"],
form input[type="email"]{
    width:180px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color: #f6f6f6;
    margin:8px 0;
    display:inline-block;
}

form input[type="password"]{
    width:180px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color: #f6f6f6;
    margin:8px 0;
    display:inline-block;
}

form input[type="submit"]{
    width:8px;
    padding: 3px 10px;
    border:1px solid #000;
    border-radius:3px;
    color:#fff;
    background-color:#000;
}

form input[type="submit"]:hover{
    cursor: pointer;
}

textarea{
    width:100%;
    height:100px;
    border:1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin:8px 0;
    resize:none;
    display: block;
}

/*login*/

#formulariolog{
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    background-color: #0f4c75;
}

#contenedorlog {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#centrallog {
    max-width: 320px;
    width: 100%;
}

.titulolog {
    font-size: 250%;
    color:#000;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #ccc;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#fff;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #565656;
    
    margin-top: 10px;
}

#login button:hover {
    background-color: #000;
    color:#fff;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #fff;
}

.inferiorlog {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferiorlog a {
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 3px;
}

.inferiorlog a:hover {
    color: #ccc;
}
