@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat Alternates', sans-serif;
}
/*Pagina principal*/
#cuerpoprincipal {
	background: url(https://content.wepik.com/statics/206737646/preview-page0.jpg);
	background-repeat: no-repeat;
	background-size: 4000vw 2000vh;
	overflow:hidden;
}
.cuerpotext{
	background-color:#99ffffff;
}
/* Menu lateral */
:root{
  --main-color:#fff;
}
.main-header{
  background: #4FB391;
  width: 100%;
  height:50px;
}

nav{
  position: absolute;
  left:0;
  top:0;
  width: 200px;
  top:50px;
  height:calc(100vh - 50px);
  background:#2D6653;
  transform:translateX(-100%);
  transition:.4s ease;
}

.navigation li{
  list-style:none;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.navigation a{
  color:var(--main-color);
  display: block;
  line-height:3.5;
  padding: 0 10px;
  text-decoration:none;
  transition:.4s ease;
}

.navigation a:hover{
  transform:translateX(10%);
}

#btn-nav{
  display: none;
}

#btn-nav:checked ~ nav{
  transform:translateX(0);
}

.btn-nav{
  color:var(--main-color);
  font-size:30px;
  position: absolute;
  left:0;
  top:0;
  cursor:pointer;
  padding:6.5px 15px;
  transition:.2s ease;
  background:rgba(0,0,0,.1);
}

.btn-nav:hover{
  background:rgba(0,0,0,.3);
}

/*login*/

#formulariolog{
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    background-color: #0f4c75;
}

#contenedorlog {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#centrallog {
    max-width: 320px;
    width: 100%;
}

.titulolog {
    font-size: 250%;
    color:#000;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #ccc;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#fff;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #565656;
    
    margin-top: 10px;
}

#login button:hover {
    background-color: #000;
    color:#fff;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #fff;
}

.inferiorlog {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferiorlog a {
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 3px;
}

.inferiorlog a:hover {
    color: #ccc;
}
